{{#if employee.length}}
<section>
    <h2> Assigned Task</h2>
    {{#each task as |task|}}
    {{task.title}}, {{task.time}}
    {{/each}}
</section>
{{/if}}
<button type="submit" class='btn'><a class="link">+ New Post</a></button>
<script src='js/employee.js'></script>