<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReSchedule: A time-saver for Managers</title>
  <link rel="stylesheet" href="../../public/css/sass.css">
  <link rel="stylesheet" href="../../public/css/style.css">   
</head>
<body>
  <body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/">Work Schedule</a>
                    <a class="link" href="/employee">Employee Login</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/manager">Manager Login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>ReSchedule Management System</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="../../public/jss/employee_logout.js"></script>
     <script src="../../public/jss/manager_logout.js"></script>
    
    {{/if}}
  
</body>


</html>