<!--Setting out the Employee login-->
<div class="row">
    <div class ="card">
        <h2> Employee Login</h2>
        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password_login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Employee Login</button>

            </div>
        </form>
    </div>

    <!--Setting out the Manager login-->
    <div class="row">
        <div class="col-md-6">
            <h2> Login</h2>
            <form class="form login-form">
                <div class="form-group">
                    <label for="email-login">Email:</label>
                    <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">Password:</label>
                    <input class="form-input" type="password" id="password_login" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Manager Login</button>

                </div>
            </form>
        </div>