<div class="row">
  <div class="col-auto">
    <h2>Welcome,  
      {{#with Manager}}
      {{first_name}}{{last_name}}
      {{/with}} </h2>
  </div>
</div>

 <div class="col-md-6">
    <h3>Employee Availability</h3>

    {{#each employee as |employee|}}
    <div class="row mb-2">
      <ul class = "employee_list">
       {{#each Employee}}
       <li>{{this}}</li>
       {{/each}}
   </ul>
      <div class="col-md-4">
        
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>