<div class="container">
  <div class="column is-half is-offset-one-quarter" style="background-color:grey">
    <form id="manager-signup">
      <h2 class ="h2"><span class = "fancy">M</span>anager<span class = "fancy">S</span>ign Up</h2>
      <div class="field">
        <label class="label">First Name:</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" id="manager_firstName">
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name:</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" id="manager_lastName">
        </div>
      </div>
      <div class="field">
        <label class="label">Location:</label>
        <div class="control">
          <input class="input" type="text" placeholder="Location" id="manager_location">
        </div>
      </div>
      <div class="field">
        <label class="label">Email:</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email input" id="manager_email">
        </div>
      </div>
      <div class="field">
        <label class="label">Password:</label>
        <div class="control">
          <input class="input" type="password" placeholder="Password" id="manager_password">
        </div>
      </div>
      <button class="bnt btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>

<script src="js/manager_signup.js"></script>