<div class = 'card'>
    <h3 class = 'card-header'>Employee Sign Up</h3>
    <form id = 'signup-form'class = 'card-body'>
        <label for = 'employee_signup' class = 'form-label'>Email</label>
        <input id = 'employee_signup' text='text' class = 'form-input'/>
        <label class = 'form-label'
        for ='password_signup'> Password</label>
        <input id = 'password_signup' type ='password'
        class = 'form-input'/>
        <button type ="submit" class = 'btn'>Sign Up</button>
        <a class = 'login_link' href = "./login"> Log in instead</a>
    </form>
</div>
<script src="/jss/signup.js"></script>